<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.WiseForce.AssemERP.dg.InventoryMapper">

	<select id="callCalcRealInventory" statementType="CALLABLE"
		parameterType="com.WiseForce.AssemERP.dto.dg.Real_InventoryDTO"
		resultType="com.WiseForce.AssemERP.dto.dg.Real_InventoryDTO">
		SELECT * 
		FROM (
			SELECT rownum rn, pt.* 
			FROM (SELECT * FROM TABLE(calc_real_inventory(#{item_type})) ORDER BY item_no) pt
		)
		WHERE rn BETWEEN #{start} and #{end}
	</select>

</mapper>
